* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

.lista-horizontal ul {
  display: inline-block;
}

h1 {
  font-family: montserrat;
  font-size: 62px !important;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h5 {
  color: #fff !important;
  font-family: montserrat;
  font-size: 24px !important;
}

/* Estilos para o tema claro */
body.theme-light {
  background-color: #fff;
  color: #000;
}

/* Estilos para o tema escuro */
body.theme-dark {
  background-color: #000;
  color: #d8d8d8;
}

.menu-nav {
  background-color: black !important;
  border-radius: 4rem;
  border: none;
  justify-content: flex-end;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.botao-roxo {
  font-family: montserrat;
  background-color: #5d2e9a;
  border-radius: 0.5rem;
  width: 204px;
  height: 48px;
}

.botao-tema {
  width: 49px;
  height: 49px;
  background-color: transparent;
  border: 0;
}

.linha-1 {
  margin-top: 3rem;
  padding-top: 3rem;
}

.texto1 {
  margin-top: 1rem;
}

.box-texto-sobre {
  text-align: start;
}

.box-texto-caminho{
  text-align: start;
}

.botao-carrousel {
  width: 100%;
  background-color: #5d2e9a;
  z-index: 2 !important;
  position: relative;
  bottom: 0;
  border-radius: 0.5rem;
  color: #fff;
  margin-top: -78px;
  text-overflow: ellipsis;
}

.botao-carrousel:hover {
  background-color: #332277;
}

.botao-nossa-ex {
  border: none;
  margin-top: 2rem;
}

.hover-scale:hover {
  transform: scale(1.1);
  filter: scale(0.8);
  transition: 300ms;
}

#segunda-sessao .carousel .carousel-item img {
  z-index: 1;
  transition: 300ms;
}

.img-caminho {
  margin-top: 1rem;
  padding-top: 5rem;
  margin-left: 8.5rem;
}

.img-vamos-conversar {
  justify-content: flex-end;
}

#logo-rodape {
  display: flex;
  margin-left: -1%;
  justify-content: flex-start;
}

#seta-rodape {
  display: flex;
  margin-right: -13%;
}

/*RODAPÉ*/

#link-direitos {
  display: flex;
  margin-left: -2%;
  justify-content: flex-start;
}

.rodape {
  border-top: 1px solid white;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .img-personagem-magmeta {
    justify-content: center;
  }
  .texto1 {
    margin-bottom: 4rem;
  }

  .linha-1 {
    margin-top: 0px;
    padding-top: 0px;
  }

  .botao-nossa-ex {
    justify-content: none !important;
    justify-self: center;
  }

  .img-caminho {
    display: flex;
    justify-content: center !important;
    margin-top: 0rem;
    padding-top: 0rem;
    margin-left: 4rem;
  }

  .box-sobre-nos {
    text-align: center;
  }

  .box-texto-caminho{
    text-align: center;
  }

  .botao-nossa-ex{
    justify-content: center;
  }

  .img-vamos-conversar {
    justify-content: center;
  }
.texto1{
  align-items: center;
}

}
