* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

.lista-horizontal ul {
  display: inline-block;
}

h1 {
  font-size: 62px !important;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700 !important;
}

h2 {
  font-family: "Roboto";
  font-weight: 800 !important;
  font-size: 40px !important;
}

p {
  font-family: "Roboto";
  font-weight: 400 !important;
}

h5 {
  color: #fff !important;
  font-family: "Roboto";
  font-weight: bold !important;
  font-size: 20px !important;
}

h6 {
  color: var(--bs-heading-color);
  font-family: "Roboto";
  font-weight: 400 !important;
  font-size: 24px !important;
}

/* Estilos para o tema escuro */
body.theme-dark {
  background-color: #0e0c10;
  color: #d8d8d8;
}

/* Estilos para o tema claro */
body.theme-light {
  background-color: #fff;
  color: #110e12;
}

.tema-dark-ativo {
  color: 110e12;
}

.tema-light-ativo {
  color: #fff;
}

.theme-dark .nav-link {
  color: #fff !important;
}

.theme-light .nav-link {
  color: #000 !important;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 24px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  font-weight: bold;
  color: #5d2e9a !important;
}

#offcanvasNavbar {
  align-items: start;
  padding-top: 0.2rem;
  margin-left: 1.8rem;
}



#texto-magnetize-metas {
  font-size: 74px !important;
  
}

.container-img-app-magmeta {
  position: relative; 
}


.img-app-magmeta::after {
  content: '';
  position: fixed;
  top: -20px;
  left: 100px;
  width: 580px;
  height: 550px;
  background-image: linear-gradient(#8758C4, #5D2E9A, #BC85FF);
  border-radius: 100%;
  filter: blur(500px);
  z-index: -1; /* Posicione a sombra atrás da imagem */
}

.texto-botao {
  font-size: 18px !important;
  font-family: roboto !important;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  margin-left: 24px !important;
  margin-right: 24px !important;
}

#texto-botao {
  font-size: 16px !important;
  font-family: roboto !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.menu-nav {
  background-color: black !important;
  border-radius: 4rem;
  border: none;
  justify-content: flex-end;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.botao-roxo {
  font-family: roboto;
  background-color: #5d2e9a;
  border-radius: 1.5rem;
  width: 234px;
  height: 48px;
  border-color: transparent;
}

.botao-tema {
  width: 32px;
  height: 32px;
  margin-right: 3rem;
  padding-top: 4%;
  border: 0;
}

.btn-outline-info {
  color: #5D2E9A !important;
  border-radius: 1.5rem !important;
  border-color: #5D2E9A !important;
  margin-top: 0.2% !important;
  
}

.btn-outline-info:hover {
  background: #dad2e5ed !important;
}


.linha-1 {
  margin-top: 3rem;
  padding-top: 3rem;
}

.texto1 {
  margin-top: 1rem;
}

.box-texto-caminho {
  text-align: start;
}

.texto-sobre-nos-2 {
  font-size: 24px;
  padding-top: 2rem;
  text-align: start;
}

.texto-sobre-nos-1 {
  padding-bottom: 2rem;
}

.botao-carrousel {
  width: 100%;
  background-color: #5d2e9a;
  z-index: 2 !important;
  position: relative;
  bottom: 0;
  border-radius: 0.5rem;
  color: #fff;
  margin-top: -78px;
  text-overflow: ellipsis;
}

.botao-carrousel:hover {
  background-color: #332277;
}

.botao-nossa-ex {
  justify-content: flex-end;
  border: none;
  margin-top: 2rem;
}

.texto-botao-carousel {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.texto-ver-mais {
  margin-top: 1.5rem;
}

.texto-construimos-juntos {
  padding-bottom: 12%;
}

.hover-scale:hover {
  transform: scale(1.1);
  filter: scale(0.8);
  transition: 300ms;
}

#segunda-sessao .carousel .carousel-item img {
  z-index: 1;
  transition: 300ms;
}

.carousel-indicators {
  z-index: 4 !important;
  margin-bottom: -1.5rem !important;
  height: 4%;
}

.img-caminho {
  margin-top: 1rem;
  padding-top: 5rem;
}

.img-vamos-conversar {
  justify-content: flex-end;
}



#logo-rodape {
  display: flex;
  margin-left: -1%;
  justify-content: flex-start;
}

.seta-botao-ex {
  margin-left: 0.2rem;
}

/*RODAPÉ*/

#link-direitos {
  display: flex;
  color: grey !important;
  margin-left: -2%;
  justify-content: flex-start;
}

.rodape {
  border-top: 1px solid white;
}

/* RESPONSIVO */

/*TELAS DE CELULAR*/
@media (max-width: 768px) {

  #texto-magnetize-metas {
    font-size: 54px !important;
  }

  .img-personagem-magmeta {
    justify-content: center;
  }
  .texto1 {
    font-size: 54px !important;
    margin-bottom: 4rem;
  }

  .texto-sobre-nos-2 {
    text-align: center;
  }

  .box-carousel {
    padding-top: 1.2rem;
  }

  .texto-center {
    align-items: center !important;
    justify-content: center;
    text-align: center;
  }

  .linha-1 {
    margin-top: 0px;
    padding-top: 0px;
  }

  .botao-nossa-ex {
    justify-content: center !important;
  }

  .img-caminho {
    display: flex;
    justify-content: center !important;
    margin-top: 0rem;
  }

  .box-sobre-nos {
    font-size: 54px !important;
    text-align: center;
  }

  .box-texto-caminho {
    font-size: 54px !important;
    text-align: center;
  }

  .img-vamos-conversar {
    padding-top: 4rem;
    justify-content: center;
  }

  .texto1 {
    font-size: 54px !important;
    align-items: center;
  }

  .linha-logos {
    padding-top: 2rem;
  }

  .texto-construimos-juntos {
    padding-bottom: 0.8rem;
    padding-top: 4rem;
  }

  #seta-rodape {
    display: flex;
    margin-right: -13% !important;
  }

  #texto-localizacao {
    padding-top: 0.5rem !important;
  }


  #menu-nav {
    display: none;
  }

  .linha-logos {
    display: flex;
    padding-top: 3rem !important;
    flex-direction: column !important;
  }

  #seta-rodape {
    margin-right: 0% !important;
  }

  .logo-marca {
    padding-bottom: 3rem;
  }

  .carousel-indicators {
    padding-top: 4rem !important;
  }

  .logo-behance {
    padding-top: 0.2rem !important;
  }

  .navbar-toggler {
    padding-bottom: 2.5rem !important;
  }

  .logo-check-1 {
  }

  #texto-localizacao {
    padding-top: 2rem !important;
  }
}

/*TELAS DE COMPUTADOR MÉDIAS*/
@media (min-width: 992px) {

  .botao-carrousel {
    width: 100%;
    margin-bottom: -42px;
    padding: 0% !important;
  }

  p {
    margin-bottom: 0% !important;
  }

  .texto-botao-carousel {
    margin: 0%;
    justify-content: space-between;
  }

  .texto-ver-mais {
    display: flex;
    justify-content: flex-end;
  }

  .img-caminho {
    margin-left: 4rem !important;
  }

  .box-texto-caminho {
    padding-top: 3rem !important;
  }

  .linha-logos {
    flex-direction: row !important;
  }

  #seta-rodape {
    display: flex;
    margin-right: -13% !important;
  }

  #texto-localizacao {
    padding-top: 0.4rem !important;
  }
}

/*TELAS DE COMPUTADOR GRANDES*/
@media (min-width: 1200px) {
  .img-caminho {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
  }

  #seta-rodape {
    display: flex;
    margin-right: -13% !important;
  }

  #texto-localizacao {
    padding-top: 0.5rem !important;
  }
}
