.slider-container {
  position: relative;
  overflow: hidden;
  height: 92px; /* Adjust height according to your needs */
}

.slider-content {
  position: absolute;
  height: 100%;
}

.slider-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .slider-content {
    width: 100%;
  }
  .word {
    justify-content: center;
    
  }
}

.slider-item.active {
  transform: translateY(0);
}

.slider-item:not(.active) {
  position: absolute;

  transform: translateY(-100%);
  opacity: 0;
  transition: 300ms;
}
.slider-item.out {
  position: absolute;

  transform: translateY(100%);
}

.word {
  display: flex;
  font-weight: 900;
}

/* .word.active {

  display: block;
} */