#texto-somos {
  font-family: roboto;
  font-size: 54px !important;
}
h1 {
  padding-bottom: 0% !important;
}

h6 {
  font-size: 18px !important;
}

.mascot-magmeta {
  align-items: center;
}

.mas-magmeta {
  display: flex !important;
  justify-content: flex-end !important;
  width: 72% !important;
}

.img-magmeta {
  display: flex;
}

.box-texto-sobre {
  display: flex;
  padding-top: 1%;
  flex-direction: column;
  border-radius: 12px;
}

#box-sobre-1 {
  display: flex;
  background-color: #5a58c4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

#box-sobre-2 {
  display: flex;
  background-color: #5d2e9a;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

#box-sobre-3 {
  display: flex;
  background-color: #a778e4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.img-box-sobre {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.box-txt-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 20%;
}

.box-img-sobre {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 28%;
  padding-bottom: 48px;
}

.fotos-equipe {
  padding-left: 0px !important;
}

@media (max-width: 768px) {
  .linha-box-sobre {
    flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  #segunda-sessao {
    padding-top: 40% !important;
  }

  .txt-1 {
    flex-direction: column;
    display: flex;
    text-align: center;
  }

  .img-magmeta {
    align-items: center;
    justify-content: center;
  }

  #texto-parceiros {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .logos-checks {
    display: flex;
    justify-content: center;
    padding-top: 10%;
  }
}
