@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*Css Blog*/
.container-banner {
  margin-top: 10% !important;
  margin-bottom: 10% !important;
  border-radius: 6px;
}

.box-cta {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  border-radius: 6px;
  background-color: #181717bf;
}

.box-artigo-principal {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.theme-light {
  color: #fff !important;
  border-color: #fff !important;
}

.custom-image-container {
  margin: 20px 0;
  text-align: center;
}

.custom-image-container img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

#box-5-min {
  border-left: 4px solid #5d2e9a !important;
  height: 24px;
}

.card {
  border: 0 solid #c4c4cc;
}
.bg-gray-950 {
  --tw-bg-opacity: 1;
  background-color: rgb(9 9 10 / var(--tw-bg-opacity));
}

/* Tema escuro para o Banner */
.theme-dark .container-banner {
  background-color: #181717bf; /* Cor de fundo escura */
  color: #fff;
}

/* Tema claro para o Banner */
.theme-light .container-banner {
  background-color: #e9d9ff; /* Cor de fundo clara */
  color: #000 !important;
}

/* Tema escuro para os cards */
.theme-dark .card {
  background-color: #181717bf !important; /* Cinza escuro */
  color: #fff !important;
}

/* Tema claro para os cards */
.theme-light .card {
  background-color: #e9d9ff !important; /* Branco gelo */
  color: #000 !important;
}

.btn-primary {
  display: flex;
  height: 8px;
  border-color:  rgb(98, 33, 162);
  color: #fff;
  padding: 1rem;
  margin-bottom: 0% !important;
  align-items: center;
  border-radius: 18px;
  background-color: rgb(98, 33, 162);
  justify-content: center;
  white-space: nowrap;
}

.btn-primary:hover {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  color: #000;
}



.bg-primary {
  background-color: rgb(98, 33, 162) !important;
  border-color: rgb(98, 33, 162);
  color: #fff;
}

.box-artigos {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
}
.cover-image {
  width: 100%; /* Faz a imagem ocupar todo o container */
  height: auto; /* Mantém a proporção */
  max-height: 500px; /* Ajuste conforme necessário */
  object-fit: cover; /* Garante que a imagem cubra sem distorcer */
  border-radius: 10px; /* Opcional, para manter a estética arredondada */
}

@media (max-width: 768px) {
  .box-artigo-principal {
    display: flex;
    text-align: center !important;
  }

  .box-btn-blog {
    justify-content: center !important;
    padding-bottom: 24px;
  }

  .container-banner {
    margin-top: 34% !important;
  }
}
